<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1" />
    <link rel="stylesheet" href="../css/app.css">
  </head>
  <body>
    <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0; font-family: sans-serif;" width="100%" bgcolor="#272727">
      <tr>
        <td align="center">
          <center style="max-width: 600px; width: 100%;">
            <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0" width="560" bgcolor="#272727">
              <tr>
                <td align="center">
                  <!-- @@placeholder= header -->
                </td>
              </tr>
              <tr align="center">
                <td>
                  <table border="0" cellpadding="0" cellspacing="0" style="margin: 0; box-sizing: border-box; border-radius: 15px;" width="100%"
                    bgcolor="#ffffff">
                    <tr align="center">
                      <td valign="top">
                        <!-- @@placeholder= content -->
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
      <tr>
        <td align="center">
          <!-- @@placeholder =footer -->
        </td>
      </tr>
    </table>
  </body>
</html>